
/* Your CSS Code here. */
.holder{
	display: grid;
	grid-template-columns: repeat(2,100px);
	grid-template-rows: repeat(2,100px);
	gap: 15px;
	
}
.item{
	border: 2px solid black;
	text-align: center;
	padding: 50%;
	/* margin: 10px; */
}